.counterText {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap");
.mainContainer {
  margin-top: 5rem;
}
.mainHeading {
  font-family: "Poppins";
  font-size: 50px;
  text-align: center;
}
.bgHeading {
  font-size: 100px;
  font-family: "Poppins";
  text-align: center;
  font-weight: 800;
  color: #393e46;
  position: absolute;
  left: 32rem;
  top: 43.5rem;
  line-height: 150px;
  mix-blend-mode: screen;
  opacity: 0.5;
}
.mainElement {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: space-evenly;
  margin-top: 6rem;
}
.icons {
  width: 5rem;
  margin-left: 6.2rem;
  margin-bottom: 20px;
}
.subHeading {
  text-align: center;
  font-family: "Poppins";
  font-size: 20px;
}
.element {
  width: 20rem;
  background-color: #4c8bf5;
  border-image: linear-gradient(black) 30;
  border-width: 4px;
  border-style: solid;
  padding: 1rem;
  margin-bottom: 4rem;
}
.element:hover {
  border-color: black;
  color: #ffffff;
}
