@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.contact .leftSide {
  flex: 50%;
  float: left;
  background-color: #21458f;
  height: 42rem;
}

.contact .rightSide {
  flex: 50%;
  display: flex;
  flex-direction: column;
  height: 42rem;
  justify-content: center;
  border: 1px solid black;
}
.regImg {
  display: inline;
}
.contact {
  margin-top: 2rem;
  background-size: cover;
  border: 1px solid black;
}
@media only screen and (max-width: 768px) {
  .contact .leftSide {
    flex: 50%;
    float: left;
    background-color: #21458f;
    height: 20rem;
  }
  .contact .rightSide {
    flex: 50%;
    display: flex;
    flex-direction: column;
    height: 45rem;
    justify-content: center;
  }
}
